{% extends 'feed/base.html' %}
{% load static %}
{% load templatetags %}
{% load feed %}


{% block title %}
    social Network
{% endblock %}

{% block head %}
    <script src="{% static 'feed/js/main.js' %}"></script>
    <script src="{% static 'feed/js/feed.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="{% static 'feed/css/feed.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% for post in posts %}
        {{ post|render_with_request:request }}
    {% endfor %}
{% endblock %}