{% load static %}
{% load templatetags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    {% block head %}{% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
<div id="main-left-menu">
    <ul>
        {% for link, title in main_menu %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>

{% block scripts %} {# this block is here because of when posts are rendered, they add their id to var, therefore #}
                    {# this var must be defined before posts are rendered #}
{% endblock %}


<div id="main-content">
    {% block content %}

    {% endblock %}
</div>

<script>
    const user_is_authenticated = {{ user.is_authenticated|to_string|lower }}
    const csrf_token = "{{ csrf_token }}"
    const urls = {
        'like_post': "{% url 'like_post' %}",
        'dislike_post': "{% url 'dislike_post' %}",
        'unlike_post': "{% url 'unlike_post' %}",
        'undislike_post': "{% url 'undislike_post' %}",

        'like_comment': "{% url 'like_comment' %}",
        'dislike_comment': "{% url 'dislike_comment' %}",
        'unlike_comment': "{% url 'unlike_comment' %}",
        'undislike_comment': "{% url 'undislike_comment' %}",

        'send_comment': "{% url 'send_comment' %}",
        'send_answer_to_comment': "{% url 'send_answer_to_comment' %}",

        'get_additional_posts': "{% url 'get_additional_posts' %}",
        'get_post_comments': "{% url 'get_post_comments' %}",

        'unsubscribe':"{% url 'unsubscribe' %}",
        'subscribe': "{% url 'subscribe' %}",
        'add_post_to_viewed': "{% url 'add_post_to_viewed' %}"
    }

    const staticfiles = {
        'inactive_like': "{% static 'feed/img/inactive_like.png' %}",
        'active_like': "{% static 'feed/img/active_like.png' %}",
        'inactive_dislike': "{% static 'feed/img/inactive_dislike.png' %}",
        'active_dislike': "{% static 'feed/img/active_dislike.png' %}"
    }

    function ajaxPOST(url, options) {
        options['type'] = 'POST'
        if (options['data'] === undefined) {
            options['data'] = {}
        }
        options['data']['csrfmiddlewaretoken'] = csrf_token
        return $.ajax(url, options)
    }

    function ajax_data_POST(url, data) {
        let options = {
            'type': 'POST',
            'data': data
        }
        options['data']['csrfmiddlewaretoken'] = csrf_token
        return $.ajax(url, options)
    }

</script>
</body>
</html>