.profile-user-ava {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 120px;
    width: 120px;
}

.change-ava-btn {
    width: 120px;
    padding-left: 5px;
    background-color: #606060;
    border-radius: 5px;
    border: 1px solid #777;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.main-profile-user-info {
    display: inline-block;
    position: relative;
    bottom: 13px;
}

.profile-user-username {
    display: inline;
    color: #aaa;
    font-size: 16px;
    font-weight: 500;
}

.profile-user-full-name {
    margin: 12px 0 12px 0;
    font-size: 25px;
    font-weight: 700;
}

.profile-user-age {
    margin: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #ddd;
}

.profile-secondary-info {
    margin: 5px;
    font-size: 16px;
    color: #d0d0d0;
}

.subscribe-btn-wrapper {
    align-content: center;
    text-align: center;
}

.subscribe-btn {
    height: 30px;
    font-size: 18px;
    padding: 9px;
    border-radius: 2px;
    color: #eee;
}

.subscribe-btn-inactive {
    background-color: #4d6dde;
}

.subscribe-btn-active {
    background-color: #606060;
}
