.next-image-arrow, .last-image-arrow {
     opacity: 0;
}

.next-image-arrow {
    position: relative;
    bottom: 300px;
    left: 500px;
}

.last-image-arrow {
    position: relative;
    bottom: 300px;
}

input.like-counter {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    width: 30px;
}
